/* ==================================== */
/* = BOHMIES CSS, version 1.0.0 = */
/* ===== LATEST UPDATE 2016-05-13 ===== */
/* ==================================== */

/* ====== COLOR DEFINETION ============ */
/*
	= Body
		- background-color: #f4f6f7;
		- color: #414141;
	= Header -
	= Navigation
		- background-color: #414141 / rgba(65, 65, 65, 1);
		- color: #f4f6f7 / rgba(244, 246, 247, 1);
		- border: #333333 / rgba(51, 51, 51, 1);
		= Hover
			- background-color: #FF6A5C / rgba(255, 106, 92, 0.75);
			- color: #fff / rgba(250, 250, 250, 1);
			- Brand - color: #056571 / rgba(5, 101, 113, 1);
		= Toggle
			- border: #e1e1e1 / rgba(225, 225, 225, 1);
			= Hover
				- background-color: #FF6A5C / rgba(255, 106, 92, 0.75);

	= Fresh Container
		- background-color: #CCDFC8 / rgba(208, 223, 200, 1);
		- color: #414141 / rgba(65, 65, 65, 1)
		- border: #333333 / rgba(51, 51, 51, 1);

		= Teal Container
			- background-color: #056571 / rgba(5, 101, 113, 1);
			- color: #f4f6f7 / rgba(244, 246, 247, 1);
			- border: #333333 / rgba(51, 51, 51, 1);

		=  Code Container - Watermelon
			- background-color: #FF6A5C / rgba(255, 106, 92, 1);
			- color: #f4f6f7 / rgba(244, 246, 247, 1);
			- border: #333333 / rgba(51, 51, 51, 1);

	= Footer
		- background-color: #414141 / rgba(65, 65, 65, .8);
		- color: #f4f6f7 / rgba(244, 246, 247, 1);
		= Smallprint
			- color: #CCDFC8;

	=
	=
	=
	=
	=
	=
*/
.fresh {
	background-color: rgba(208, 223, 200, 1);
	color: #414141;
	border: #333333;
}
.teal {
	background-color: rgba(5, 101, 113, 1);
	color: #f4f6f7;
	border: #333333;
}

/* ====== IMPORT FONTS ================ */


/* ====== BASIC PAGE SETUP ============ */

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 100%;
}

/* ====== HEADINGS ==================== */

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, verdana, arial, sans-serif;
	font-weight : normal;
	letter-spacing: -1px;
	text-align: center;
}

/*Header*/
h1 {
	color: #000;
	margin-bottom: 0.2em;
	font-size: 5em;
	line-height: 1.4;
}

/*Content*/
h2 {
	color: #222;
	margin-bottom : .5em;
	margin-top : .5em;
	font-size : 2.7em;
	line-height : 1.2;
}

h3 {
	color: #333;
	margin-bottom : 0.3em;
	letter-spacing: -1px;
	font-size : 1.7em;
	line-height : 1.3;
}

/*Footer*/
h4 {
	margin-bottom : 0.5em;
	font-size : 1.1em;
	line-height : 1.25;
	color: #ccc;
}

/*Other*/
h5 {
	color: #555;
	margin-bottom : 1.25em;
	font-size : .8em;
}

h6 {
	color: #666;
	font-size : .8em;
}

/* ====== TYPOGRAPHY ================== */
p, address {
	margin-bottom: 1.5em;
	font-size: 1em;
}

p {
	hyphens : auto;
}


p.introtext {
	font-family:  MuseoSlab100, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', sans-serif;
	font-size : 2em; /* 40 / 16 */
	color: #333;
	line-height: 1.4em;
	letter-spacing: -1px;
	margin-bottom: 0.5em;
}


p.handwritten {
	font-family:  HandSean, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', sans-serif;
	font-size: 1.375em; /* 24 / 16 */
	line-height: 1.8em;
	margin-bottom: 0.3em;
	color: #666;
}

.codetext {
	font-family: Inconsolata, Montserrat, 'Noto Sanns', monospace, sans-serif;
	font-size: 1.3em;
}

p.center {
	text-align: center;
}


.and {
	font-family: GoudyBookletter1911Regular, Georgia, 'Times New Roman', sans-serif;
	font-size: 1.5em;
}

.heart {
	font-size: 1.5em;
}

ul, ol {
	margin: 0;
	padding-left: 1.5em;
	font-size: 1em;
}

li {
	margin-bottom: .5em;
	font-size: 1em;
}

dl {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

dd {
	margin-bottom: .5em;
	font-size: 1em;
}

dt {
	margin: bold;
}

b, strong {
	font-weight : bold;
}

hr {
	display : block;
	margin : 1em 0;
	padding : 0;
	height : 1px;
	border : 0;
	border-top : 1px solid #ccc;
}

small {
	font-size : 1em;
}

sub, sup {
	font-size : 75%;
	line-height : 0;
	position : relative;
	vertical-align : baseline;
}

sup {
	top : -.5em;
}

sub {
	bottom : -.25em;
}

.subtext {
	color: #666;
}
/* ====== LINKS ======================= */
/*
a {
	color : #cc1122;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}

a:visited {
	color : #ee3344;
}

a:focus {
	outline : thin dotted;
	color : rgb(0,0,0);
}

a:hover,
a:active {
	outline : 0;
	color : #dd2233;
}
/* ====== IMAGES ====================== */
img {
	border : 0;
	max-width: 100%;
	height: auto;
	width: auto;
}

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }

/* ====== TABLES ====================== */
table {
	margin-bottom : 1.4em;
	width : 100%;
}

.borderless {
	*border-collapse: collapse; /* Fulhack för IE7 och lägre */
	border-spacing: 0;
}

.services {
	border: 1px solid #333;
	background: #f4f6f7;
	width: 96%;
	margin: 5% auto 2em;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	text-shadow: #fff 1px 1px 1px;
}

thead {
	font-size: 150%;
}

tr {
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;
}

table#example tr:target {
	background-color: #056571;
}

table#example tr:hover {
	background-color: #FF6A5C;
}

th, td, caption {
	padding : 18px 28px 18px;
}

th {
	padding-top: 22px;
	background: #ddd;
}

td {
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}

tfoot {
	font-style : italic;
}

caption {
	background-color : transparent;
}

/* ====== FORMS ======================= */
/* ====== MAIN LAYOUT ================= */
/* ====== HEADER ====================== */
/* ====== NAVBAR ====================== */
/* ====== MAINCONTENT ================= */
	.watermeloncontainer {
		background-color: rgba(255, 106, 92, 1);
		color: #f4f6f7;
	    border: #333333 solid 1px;
		width: 95%;
		margin: 0 auto;
		margin-bottom: 0.5em;
		padding: 6px 0 1px 6px;
	}

/* ====== FOOTER ====================== */
#footcontainer {
	clear: both;
	position: relative;
	bottom: 0;
	height: 130px;
	width: 100%;
	background-color: rgba(65, 65, 65, .8);
}

	footer {
		width: 80%;
		max-width: 1472px;
		margin: auto;
		color: rgba(244, 246, 247, .8);
		font-size: 13.5px;
		font-family: Verdana;
		text-align: left;
	}

	footer strong {
		font-size: 1.077em; /* 14 / 13 */
		color: #f4f6f7;
	}

	footer a {
		color : #f4f6f7;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	footer a:link, footer a:visited {
		color: rgba(244, 246, 247, 1);
		text-decoration: none;
	}

	footer a:focus {
		outline : thin dotted;
		color : rgba(244, 246, 247, .75);
	}

	footer a:hover, footer a:active {
		outline: 0;
		color: rgba(250, 250, 250, 1);
		text-decoration: underline;
	}

	ul.footerlist, ul.footerlistimgages {
		display: block;
		float: left;
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	ul.footerlist li, ul.footerlistimgages li {
		clear: left;
		margin: 0px;
		padding: 0px 0px 3px 0px;
		display: block;
		line-height: 1.5em;
		font-weight: normal;
		background: none;

	}

	ul.footerlistimgages li {
		height: 34px;
	}


	ul.footerlistimgages li img {
		padding: 5px 5px 5px 0px;
		vertical-align: middle;
		opacity: 0.75;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	ul.footerlistimgages li a
	{
		text-decoration: none;
	}

	ul.footerlistimgages li a:hover img {
		opacity: 1.0;
	}

		#smallprint {
			margin-top: 20px;
			line-height: 1.4em;
			text-align: center;
			color: #CCDFC8;
			font-size: 0.923em; /* 12 / 13 */
		}

		#smallprint p{
			vertical-align: middle;
		}

		#smallprint img {
			margin: 0px 10px 15px 0px;
			vertical-align: middle;
			opacity: 0.75;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}


		#smallprint a:hover img {
			opacity: 1.0;
		}

		#smallprint a:link, #smallprint a:visited { color: #CCDFC8; text-decoration: none; }
		#smallprint a:hover { color: #CCDFCF; text-decoration: underline; }

/* ====== SECTIONS ==================== */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/* ====== CODE ======================== */
code {
	background-color: rgba(192, 192, 192, .5);
	color: black;
	font-family: Inconsolata, Montserrat, 'Noto Sanns', monospace, sans-serif;
	border: black dashed 1px;
	padding: 0 6px;
	font-size: 1.5em;
}

/* Window */
.codewindow {
	background-color: rgba(192, 192, 192, .5);
	color: black;
	font-family: Inconsolata, Montserrat, 'Noto Sanns', monospace, sans-serif;
	border: black dashed 1px;
	margin-bottom: .5em;
	padding: 0 6px;
	font-size: 1.5em;
}

/* HTML-Code */
.htmlElement {
	color: purple;
}

.htmlAttributeName {
	color: darkgreen;
}

.htmlAttributeValue {
	color: darkblue;
}

.htmlComment {
	color: darkred;
	font-style: italic;
}

/* CSS-Code */
.cssElement {
	color: red;
}

.cssClass {
	color: blue;
	font-style: italic;
}

.cssId {
	color: blue;
}

.cssPropertyName {
	color: green;
}

.cssPropertyValue {
	color: blue;
}

/* JS-Code */
.jsDeclare {
	color: darkgreen;
}

.jsValue {
	color: DarkGoldenRod;
}

.js {
	color:;
}

.jsText {
	color: MidnightBlue;
}
/* ====== EXAMPLE ===================== */
#ListsMenuExample {
	background-color: rgba(5, 101, 113, 1);
	height: 2.3em;
}
#ListsMenuExample ul, #ListsMenuExample li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
#ListsMenuExample ul {
	background-color: rgba(5, 101, 129, 1);
	height: 2em;
	width: 100%;
}
#ListsMenuExample li {
	position: relative;
	width: 150px;
	text-align: center;
}
#ListsMenuExample li a {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	color: white;
	text-decoration: none;
}
#ListsMenuExample li a:hover {
	background-color: rgba(5, 101, 113, 1);
	color: lightgray;
	height: 2em;
	padding-top: .3em;
	position: relative;
	top: -.3em;
	border-radius: .3em .3em 0 0;
}
/* ====== SAMPLE ====================== */
/* ====== NOTES ======================= */
/* ====== COLUMNS ===================== */
/* ====== BUTTONS ===================== */
/* ====== GLOBAL OBJECTS ============== */
.break {
	clear: both;
}

.group:before,
.group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/* ====== OTHER/VENDOR SPECIFIC ======= */
